* {
    font-family: 'Pacifico', cursive;
    font-size: 18px;
}

body {
    background-color: rgb(255, 228, 196);
}

h1 {
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
}

.intro {
    margin: 0 auto;
    width: 1200px;
}

.intro p {
    font-family: 'Montserrat', sans-serif;
    text-indent: 2rem;
    word-spacing: 0.8rem;
}

.verse {
    background-color: rgb(214, 200, 200);
    border-color: rgb(95, 92, 92);
    border-style: solid;
    border-width: 5px;
    margin: 40px auto;
    width: 500px;
}

.verse-content {
    margin: 0px auto;
    width: 300px;
}

.author {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.years {
    color: rgb(66, 63, 63);
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    text-align: center;
}

.image {
    text-align: center;
}

.image img {
    border-color: rgb(128, 128, 128);
    border-style: ridge;
    border-width: 15px;
    text-align: center;
}

.text {
    padding: 10px;
}

.text p {
    font-size: 0.8rem;
    letter-spacing: 0.03rem;
    line-height: 1.2rem;
    padding-bottom: 15px;
    word-spacing: 0.2rem;
}

.verse-links {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.verse-links a {
    color: rgb(116, 79, 79);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    font-variant: small-caps;
    font-weight: 600;
    text-decoration: none;
}
