p {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    padding: 80px 60px;
    text-align: center;
}

.frame {
    background: 
    url('../img/left-top.png') left top no-repeat,
    url('../img/top-right.png') top right no-repeat,
    url('../img/top.png') center top repeat-x,
    url('../img/left-bottom.png') left bottom no-repeat,
    url('../img/right-bottom.png') right bottom no-repeat,
    url('../img/left.png') left center repeat-y,
    url('../img/right.png') right center repeat-y,
    url('../img/bottom.png') center bottom repeat-x;
    height: 100%;
    width: 100%;
}