:root {
    --form-border-color: rgb(210, 208, 207);
    --input-bg-color: rgba(247, 246, 245, 0.9);
    --second-font-color: rgb(110, 109, 107);
    --theme-color: rgb(251, 156, 6);
}

html {
    height: 100%;
}

body {
    font-family: 'Calibri-regular', sans-serif;
    position: relative;
    min-height: 100%;
}

figure, p {
    padding: 0;
    margin: 0;
}

ul {
    margin-left: -12px;
    margin-right: 8px;
}

.container {
    margin: 0 auto;
    max-width: 1202px;
}

header {
    background-color: rgb(255, 255, 255);
    height: 128px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}   
    
.logo {
    display: flex;
}

.logo img {
   align-self: center;
   margin-left: 17px;
   margin-right: 51px;
   margin-top: -23px;
}

.logo h1 {
    align-items: center;
    color: var(--second-font-color);
    display: flex;
    flex-direction: column;
    font-family: 'Bebas-Regular', sans-serif;
    font-size: 2.9rem;
    justify-content: center;
    letter-spacing: 0.1rem;
    line-height: 2.9rem;
    margin-top: 13px;
    text-transform: uppercase;
}

.logo h1 span {
    color: var(--theme-color);
    display: flex;
    font-size: 2.3rem;
    font-family: 'Calibri-regular', sans-serif;
    text-transform: initial;
}

nav .menu, 
nav input[type='checkbox'], 
nav label {
    display: none;
}

nav ul {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 20px;
}

nav li {
    align-items: center;
}

li:nth-child(3) + li:nth-child(4) {
    margin-right: 10px;
}

nav li:hover a,
nav li:hover span {
    color: var(--theme-color);
}

nav li span {
    color: var(--second-font-color);
    font-size: 45px;
    margin-bottom: 12px;
}

.icon-about {
    margin-right: -12px;
}

.icon-work {
    font-size: 42px;
    margin-right: 11px;
}

.icon-blog {
    font-size: 40px;
    margin-right: 3px;
}

.icon-contact {
    font-size: 33px;
}

nav ul a {
    align-items: center;
    color: rgb(158, 155, 155);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 0;
    text-decoration: none;
}

.page-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 409px minmax(214px, auto) minmax(auto, 1px) minmax(613px, auto) minmax(475px, auto) 71px;
    padding-top: 128px;
}

.banner {
    background-image: url(../img/big-orange-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 5px solid var(--theme-color);
    border-top: 4px solid rgb(252, 186, 80);
    width: 100%;
}

.questions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 170px;
    margin-top: 130px;
   
}

.questions-item {
    font-family: 'Bebas-Regular', sans-serif;
    font-size: 3rem;
    letter-spacing: 0.019rem;
    word-spacing: -0.4rem;
}

.questions-item:first-child {
    background-color: rgb(0, 0, 0, 0.7);
    color:  var(--theme-color);
    margin-left: 20px;
    padding: 5px 16px 6px 26px;
}

.questions-item:last-child {
    background-color: rgb(255, 175, 18, 0.7);
    color: var(--second-font-color);
    letter-spacing: 0.01rem;
    margin-left: 10px;
    padding: 8px 19px 14px 29px;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.main-item {
    overflow: hidden;
    height: 185px;
    position: relative;
}

.collapsed {
    height: 100%;
}

main p {
    color: rgb(0, 0, 0);
    font-size: 0.96rem;
    font-weight: bold;
    letter-spacing: 0.012rem;  
    line-height: 1.47rem;
    margin-bottom: 3px; 
    margin-top: 26px;
    padding-left: 22px;   
    padding-right: 15px;
}

.main-item button {
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(255, 172, 0);
    cursor: pointer;
    font-family: 'Calibri-light-Italic', cursive;
    font-size: 1.1rem;
    margin-bottom: 29px;
    outline: none;
    padding-left: 59.5%;
    top: 166px;
    width: 100%;
}

.absolute {
    position: absolute;
}

hr {
    background-color: rgb(242, 242, 242);
    border: none;
    box-shadow: 0px 1px 1px 0px rgb(242, 242, 242);
    box-sizing: border-box;
    color: rgb(242, 242, 242);
    height: 1px;
    margin: 0;
    width: 100%;
    z-index: -1;
}

.team {
    text-align: center;
    margin-top: 10px;
}

.sectiom-title {
    border-bottom: 3px solid var(--theme-color);
    color: var(--theme-color);
    display: inline-block;
    font-family: 'STMarie-Thin', serif;
    font-size: 2.6rem;
    letter-spacing: 0.018rem;
    line-height: 2.5rem;
    margin-top: 12px;
    margin-left: 19px;
}

.team-container {
    max-width: 1355px;
    margin: 0 auto;
    text-align: left;
}

.team-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team-member {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 319px;
    min-height: 500px;
}

.team-member h3 {
    color: var(--theme-color);
    font-family: 'Calibri-Light', cursive;
    font-size: 1.4rem;
    line-height: 1.053;
    margin-bottom: 30px;
    margin-top: 6px;
}

.team-member h3 span {
    color: var(--second-font-color);
}

.team-member img{
    border-radius: 50%;
    border: 10px solid rgb(255, 181, 64);
    height: 292px;
    width: 292px;
}

.team-member figcaption {
    color: rgb(51, 51, 51);
    font-family: 'Calibri-regular', sans-serif;
    font-size: 1rem;
    line-height: 1.544;
    margin-left: 35px;
    margin-top: 21px;
    max-width: 274px;
}    

.form-message {
    text-align: center;
}

.form-message h2 {
    margin-left: 30px;
    margin-bottom: 68px;
}

form {
    text-align: left;
}

input[name='name'],
input[name='email'] {
    background-color: var(--input-bg-color);
    border-bottom: none;
    border-left: 5px solid var(--form-border-color);
    border-right: none;
    border-top: 2px solid var(--form-border-color);
    height: 29px;   
    padding-left: 10px;
}

input:focus, textarea:focus {
    background-color: rgba(255, 181, 64, 0.2);
    border-color: rgb(255, 181, 64);
    outline: none;
}

textarea {
    background-color: var(--input-bg-color);
    border-bottom: none;
    border-left: 5px solid var(--form-border-color);
    border-right: none;
    border-top: 2px solid var(--form-border-color);
    height: 84px;
    opacity: 0.922;
    padding-left: 10px;
    resize: none;  
}

label + label {
    margin-top: 37px;
}

label {
    display: grid;
    grid-template-columns: 132px 1fr;
}

label span {
    color: var(--theme-color);
    font-family: 'STMarie-Thin';
    font-size: 1.6rem;
}

.submit {
    background-color: var(--theme-color);
    border-bottom: 3px solid rgb(204, 131, 15);
    border-right: none;
    border-left: none;
    border-top: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    font-family: 'STMarie-Thin', serif;
    font-size: 1.9rem;
    line-height: 0.772;
    margin-left: auto;
    margin-right: 34px;
    margin-top: 23px;
    padding: 9px 40px 12px 34px;
}

.submit:hover {
    box-shadow: 0px 0px 11px 4px rgba(199,112,20,1);
}

footer {
    background-color: var(--theme-color);
    border-bottom: 3px solid rgb(204, 131, 15);
    bottom: 0;
    color: rgb(255, 255, 255);
    font-family: 'STMarie-Thin', serif;
    font-size: 1.9rem;
    height: 68px;
    letter-spacing: 0.149rem;
    line-height: 4.4rem;
    position: absolute;    
    text-align: center;
    width: 100%;   
}

@media screen and (max-width: 1300px) {
    nav ul {
        justify-content: space-around;
    }
    
    .logo img {
        margin-left: 30px;
    }

    input, textarea {
        margin-right: 20px;
    }

    label {
        margin-left: 20px;
    }
}

@media screen and (max-width: 1030px) {
    .team-wrapper {
        align-items: center;
    }

    .team-member {
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 1000px) {
    footer {
        font-size: 1.2rem;
    }

    main {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
    }

    .main-item:nth-child(1n+3) {
        margin-bottom: 30px;
    }

    .main-item button {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 700px) {
    header {
        position: absolute;
    }

    main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
    }

    .main-item:nth-child(1n+3) {
        margin-bottom: 0;
    }

    .main-item:nth-child(4) {
        margin-bottom: 30px;
    }

    .header-wrapper {
        grid-template-columns: 3fr 1fr;
    }   
        
    nav label {
        display: block;
    }
    
    nav ul {
        display: none;
    }

    nav li {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    nav ul a {
        height: 71px;
    }

    nav li .icon {
        font-size: 35px;
    }

    nav li + li {
        border-top: 2px solid rgb(128, 128, 128);
        width: 100%;
    }

    nav {
        position: relative;
    }

    nav .toggleMenu {
        color: var(--theme-color);
        display: flex;
        font-size: 3.7rem;
        position: absolute;
        top: 35px;
        right: 25%;
    }

    .menu:checked + .toggleMenu ~ ul {
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        flex-direction: column;
        left: 0vw;
        position: absolute;
        top: 108px;
        width: 100%;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        margin: 0 auto;
    }

    .form-message h2 {
        margin-left: 0;
    }

    label:nth-child(1),
    label:nth-child(2) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    label:nth-child(3) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
    }

    button {
        margin-bottom: 23px;
    }

    footer {
        align-items: center;
        display: flex;
        font-size: 0.8rem;
        height: 44px;
        justify-content: center;
        line-height: 1.5rem;
    }
}

@media screen and (max-width: 435px) {
    .logo img {
        margin-left: 16px;
        margin-right: 12px;
    }

    .questions-item {
        font-size: 2.2rem;
    }

    .sectiom-title {
        font-size: 1.9rem;
    }
}