td {
    border-right: 3px solid rgb(255, 0, 0);
    height: 27px;
    padding: 0 10px;
}

td:last-child {
    border-right: none;
}

a {
    color : rgb(0, 128, 0);
}

/* ---------------------------------------- */

.way2 {
    margin: 15px 0;
}

.way2 a {
    border-right: 3px solid rgb(255, 0, 0);
    padding: 5px 10px;
}
.way2 a:last-child {
    border-right: none;
}

/* ----------------------------------------- */

.way3 a {
    position: relative;
    float: left;
    padding-left: 10px;
    padding-right: 17px;
}

.way3 a::after {
    content: '';
    width: 3px;
    height: 25px;
    display: block;
    background-color: rgb(255, 0, 0);
    position: absolute;
    top: 0;
    right: 4px;
}

.way3 a:last-child::after {
    display: none;
}

