rect:nth-of-type(1) {
    fill: orange;
    stroke: black;
}

rect:nth-of-type(1):hover {
    width: 50px;
    height: 100px;
}


rect:nth-of-type(2){
    fill: rgb(194, 194, 30);
    stroke: black;
}

rect:nth-of-type(2):hover{
    fill: rgb(126, 104, 6);
    stroke: rgb(39, 15, 4);
}

polygon {
    fill: rgb(153, 55, 10);
    stroke: black;
}

polygon:hover {
    fill: rgb(68, 26, 9);
}


rect:nth-of-type(3) {
    fill: rgb(147, 211, 248);
    stroke: black;
}

rect:nth-of-type(3):hover {
    fill: rgb(23, 145, 216);
    stroke-width: 5px;
}

line {
    stroke: black;
}

circle {
    fill: rgb(147, 211, 248);
    stroke: black;
}

circle:hover {
    fill: rgb(23, 145, 216);
}