.ways + .ways {
    margin-top: 50px;
}

.flag {
    background-color: red;
    height: 55vmax;
    width: 99vmax;
}

.star {
    align-items: center;
    display: flex;
    justify-content: center;
    line-height: 55vmax;
    position: relative;
}

.star span {
    color: white;
    font-size: 70vmax;
}

.hammer {
    left: 44vmax;
    position: absolute;
    top: 22vmax;
}

.hammer span {
    color: white;
    font-size: 15vmax;
}



