
.unpainted {
    direction: rtl;
    display: inline-block;
}

.unpainted > span {
    display: inline-block;
    position: relative;
}

.unpainted > span:hover::before,
.unpainted > span:hover ~ span::before {
    content: '\2605';
    position: absolute;
}

span {
    color: rgb(220, 20, 60);
    font-size: 200px;
}
