* {
    font-family: 'Montserrat', sans-serif;
}

.container {
    align-items: center;
    background-color: rgb(138, 226, 138);
    border: 10px solid rgb(124, 62, 21);
    box-sizing: border-box;
    display: flex;
    height: 800px;
    justify-content: space-around;
    position: relative;
    width: 100%;
}

.container:hover .ball-static.green-ball {
    animation: green-up 2s infinite alternate, yellow-up 2s infinite alternate;
}

.container:hover .ball-static.yellow-ball {
    animation: yellow-rotate 2s infinite alternate;
}

.container:hover .ball-static .eye {
    animation: eyes-open 1s infinite alternate;
}

.ball {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 120px;
    justify-content: space-around;
    width: 120px;
}

.red-ball {
    animation: red-up 2s infinite alternate;
    background-color: red;
    left: 10%;
    position: absolute;
}

.red-ball .eye {
    background-color: black;
    border-radius: 50%;
    border: 5px solid white;
    height: 20px;
    width: 20px;
}

.ball-static .eye {
    background-color: black;
    border-radius: 50%;
    border: 5px solid white;
    height: 2px;
    width: 20px;
}

.green-ball {
    background-color: green;
    position: absolute;
}

.red-ball .eye {
    animation: eyes-open 1s infinite alternate;
}

.yellow-ball {
    background-color: yellow;
    position: absolute;
    right: 10%;
}


@keyframes red-up {
    0% {
        height: 80px;
        margin-top: 0;
    }

    10% {
        height: 120px;
    }

    to{
        height: 120px;
        margin-top: -200px;
    }
}

@keyframes green-up {
    0% {
        height: 80px;
        margin-top: 0;
    }

    10% {
        height: 120px;
    }

    30% {
        width: 90px;
    }

    100% {
        height: 120px;
        margin-bottom: 300px;
    }
} 

@keyframes eyes-open {
    from{
        height: 3px;
    }

    to {
        height: 20px;
    }
}

@keyframes yellow-up {
    from {
        margin-top: 0;
    }

    to {
        margin-top: -300px;
    }
}

@keyframes yellow-rotate {
    to{
        right: 60%;
        transform: rotate(-180deg);
    }
}