* {
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    font-display: column;
}

.table {
    width: 900px;
    height: 600px;
    background-color: rgb(104, 170, 38);
    border: 40px solid rgb(53, 38, 15);
    position: relative;
}

.holes {
    display: flex;
    flex-wrap: wrap;
}

.holes-top, .holes-bottom {
    display: flex;
   width: 900px;
   height: 550px;
   justify-content: space-between;
}

.holes-bottom {
    display: flex;
   align-items: stretch;
}

.hole {
    width: 70px;
    height: 70px;
    background-color: rgb(53, 38, 15);
    border-radius: 50%;
}

.holes-top .hole {
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
}

.holes-bottom .hole {
    margin-bottom: -20px;
    margin-left: -20px;
    margin-right: -20px;
}

.ball-red {
    width: 50px;
    height: 50px;
    background-color: rgb(182, 24, 24);
    border-radius: 50%;
    position: absolute;
    top: 250px;
    left: 650px;
    animation: red-ball 1.5s .5s 1;
    
}

.ball-blue {
    width: 50px;
    height: 50px;
    background-color: rgb(31, 20, 187);
    border-radius: 50%;
    position: absolute;
    top: 230px;
    left: 500px;
    animation: blue-ball 1.3s .7s 1;
    
}

.cue {
    width: 700px;
    height: 20px;
    background-color: rgb(170, 127, 18);
    position: absolute;
    top: 305px;
    left: 820px;
    animation: hit 2s 1;
    
}




@keyframes hit {
    0% {
        left: 820px;
    }

    25% {
        left: 740px;;
    }
    
    100% {
        left: 820px;
    }
}

@keyframes red-ball {
    0% {
        left: 650px;
    }
    35% {
        left: 500px;
        background-color: rgb(94, 13, 13);
    }
    100% {
        left: 460px;
        top: 300px;
    }
}

@keyframes blue-ball {
    from {
        top: 230px;
        left: 500px;
    }

    to {
        top: -5px;
        left: -5px;

    }
}