* {
    font-family: 'Montserrat', sans-serif;
}


header, footer {
    background-color: aqua;
    color: blue;
    height: 50px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    line-height: 1rem;
    width: 100%;
}

menu {
    background-color: gold;
    float: left;
    padding-top: 40px;
    margin: 0;
    max-width: 200px;
    padding-left: 20px;
}

menu span {
    padding-left: 10px;
}


ul {
    line-height: 1.5rem;
    padding: 0px 25px 20px;
}
 
main {
    overflow: hidden;
    padding-bottom: 22px;
    position: relative;
}    


main::after {
    background: url(../img/bol.png) right top repeat-y;
    content: '';
    height: 100%;
    opacity: 0.2;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
} 

main h2 {
    text-align: center;
    text-transform: uppercase;
}

main img {
    float: left;
    margin: 0px 20px 20px 20px;
    width: 500px;
}
