* {
    font-family: 'Montserrat', sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.header, .footer {
    background-color: aqua;
    color: blue;
    height: 50px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    line-height: 1rem;
}

.menu {
    background-color: gold;
    min-width: 200px;
    padding-left: 20px;
    padding-top: 20px;
}

.menu span {
    padding-left: 10px;
}

ul {
    line-height: 1.5rem;
    padding: 0px 25px 20px;
}

.title {
    font-weight: bold;
    height: 49px;
    text-align: center;
    text-transform: uppercase;
    
}


.content {
    padding-left: 20px;
    position: relative;
}

.content img {
    margin: 0px 20px 20px 0;
    width: 500px;
}

p {
    margin-top: 0;
}

.content::after {
    background: url(../img/bol.png) right top repeat-y;
    content: '';
    height: calc(100% + 69px);
    opacity: 0.2;
    position: absolute;
    top: -69px;
    right: 0;
    width: 50px;
}