body {
    padding-left: 20px;
}

p, h2 {
    margin: 0;
    line-height: 1.4rem;
}

h2 {
    padding-bottom: 7px;
}

p:first-of-type{
    color: rgb(0, 128, 0);
}

p:nth-child(3) {
    color: rgb(255, 0, 0);
    font-weight: bold;
}

p:nth-child(4) {
    background: url(../img/extref.png) left 48% no-repeat;
    color: rgb(0, 0, 255);
    font-weight: bold;
    padding-left: 15px;
    position: relative;
}

p:last-of-type {
    color: rgb(0, 0, 255);
    font-style: italic;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}
