* {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    margin: 0;
}

header, footer {
    background-color: aqua;
    color: blue;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    text-align: center;
    text-transform: uppercase;
}

button {
    background-color: rgb(44, 204, 44);
    border: 1px solid rgb(0, 0, 255);
    opacity: 0.8;
    padding: 10px 25px;
    position: fixed;
    right: 20px;
    top: 40px;
    z-index: 2;
}

button:hover {
    border-color: rgb(3, 3, 37);
    opacity: 1;
}

.container {
    background-color: aquamarine;
    display: flex;
    position: relative;
}

.container::after {
    background: url(../img/bol.png) right top repeat-y;
    content: '';
    height: 100%;
    opacity: 0.2;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
} 

menu {
    background-color: gold;
    margin: 0;
    max-width: 200px;
    padding-left: 20px;
    padding-top: 60px; 
}

menu span {
    font-weight: bold;
    padding-left: 10px;
}


ul {
    line-height: 1.5rem;
    padding: 0px 25px 20px;
}
 
main {
    padding-bottom: 22px;
    padding-right: 20px;
}    

main h2 {
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
}

.main-img img {
    width: 100%;
}

main img {
    margin: 0px 20px 20px 20px;
    max-width: 500px;
}

main p {
    margin-left: 20px;
}

@media screen and (max-width: 640px) {
    main::after {
        display: none;
    }

    main {
        font-size: 1rem;
    }

    .main-img img {
        width: 95%;
    }

    .container::after {
        display: none;
    }
}    

@media screen and (max-width: 425px) {
    header, footer {
        display: none;
    }

    button {
        display: none;
    }

    .container {
       flex-direction: column-reverse;
    }

   .container::after {
        display: none;
    }

   menu {
        background-color: transparent;
        margin: 0;
        max-width: 100%;
        padding-top: 60px; 
        padding: 0;
    }

    menu span {
        padding-left: 25px;
    }

    menu ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }

    menu a {
        padding-right: 20px;
    }
    
    .main-img img {
       width: 95%;
    }
}    