* {
    font-family: 'Montserrat', sans-serif;
}


header, footer {
    background-color: aqua;
    color: blue;
    height: 50px;
    line-height: 1rem;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

menu {
    background-color: gold;
    float: left;
    margin: 0;
    max-width: 200px;
    padding-left: 20px;
    padding-top: 40px;
}

menu span {
    padding-left: 10px;
}


ul {
    line-height: 1.5rem;
    padding: 0px 25px 20px;
}
 
main {
    overflow: hidden;
    padding-bottom: 22px;
}    

.container {
    background-color: aquamarine;
    overflow: hidden;
    position: relative;
}

.container::after {
    background: url(../img/bol.png) right top repeat-y;
    content: '';
    height: 100%;
    opacity: 0.2;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
} 

main h2 {
    text-align: center;
    text-transform: uppercase;
}

main img {
    float: left;
    margin: 0px 20px 20px 20px;
    width: 500px;
}

footer {
    overflow: hidden;
}


@media screen and (min-width: 1920px) {
    * {
        font-size: 24px;
    }

    header, footer {
        height: 70px;
    }
    
    header h2, footer h2 {
        font-size: 1.3rem;
    }

    menu {
        font-size: 1.5rem;
        max-width: 400px;
    }
    
    menu li a {
        line-height: 1.75rem;
    }
    
    main img {
        margin: 0px 40px 40px 40px;
        width: 700px;
    }
}

@media screen and (max-width: 1200px) {
    .container::after {
        display: none;
    }
    
    main::after {
        background: url(../img/bol.png) left bottom repeat-x;
        bottom: 0;
        content: '';
        height: 50px;
        opacity: 0.2;
        position: absolute;
        right: 0;
        width: 100%;
    } 

   main {
       font-size: 1.2rem;
       padding-bottom: 50px;
    }
   
    main img {
        display: block;
        float: none;
        margin: 0 auto;
        width: 80%;
    }

    main p {
        padding-left: 15px;
    }

    menu li a {
        line-height: 2rem;
    }
}

@media screen and (max-width: 640px) {
    header, footer {
        height: 80px;
        line-height: 1.5rem;
    }

    main::after {
        display: none;
    }

    menu li a {
        line-height: 1.3rem;
    }
    
    main {
        font-size: 1rem;
    }

    main img {
        width: 85%;
    }

    main p {
        padding-right: 15px;
    }

    .container::after {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    menu {
        float: none;
        max-width: 100%;
        padding-top: 15px;
    }
    
    menu span {
        display: block;
        font-weight: bold;
        padding: 0;
        text-align: center;
        text-align: center;
    }

    ul {
        list-style: none;
        padding: 5px 17px 5px 0;
    }

    li {
        background-color: rgb(231, 175, 33);
        border-radius: 10px;
        border: 2px solid rgb(141, 122, 14);
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        margin: 5px 0;
        padding: 7px 0;
        text-align: center;
    }

    li a {
        color: rgb(34, 30, 9);
        text-decoration: none;
    }

    main {
        font-size: 0.9rem;
        padding-bottom: 15px;
        text-align: justify;
    }
}