table, tr, td {
    border: 1px solid gray;
    border-collapse: collapse;
}

td {
    height: 50px;
    width: 50px;
}

tr:nth-child(even) td:nth-child(odd) {
    background-color: black;
}

tr:nth-child(odd) td:nth-child(even) {
    background-color: black;
}

tr:first-child, 
tr:last-child, 
td:first-of-type, 
td:last-of-type {
    background-color: green;
}

td:first-of-type, 
td:last-of-type {
    width: 25px;
}

tr:first-of-type>td, 
tr:last-of-type>td {
    height: 25px;
}

tr:first-child td:nth-child(even), 
tr:last-child td:nth-child(odd), 
tr:nth-child(even) td:first-child,
tr:nth-child(odd) td:last-child {
    background-color: green;
}