* {
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 15px;
}

p {
    margin: 0;
}

span {
    display: inline-block;
    width: 230px;
}

label {
    display: block;
}


label + label {
   margin-bottom: 10px;
}

input[name='title'] {
   width: calc(100% - 240px);
}

.radio br {
    display: none;
}

textarea {
    box-sizing: border-box;
    resize: none;
    width: 100%;
}

button {
    border-radius: 5px;
    border: none;
    cursor: pointer;
    height: 25px;
}

button:hover {
    background-color: rgb(155, 149, 149);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

@media screen and (max-width: 652px) {
    input[type='text'] {
        display: block;
    }

    input[name='title'], select {
        box-sizing: border-box;
        display: block;
        width: 100%;
    }

    .radio br{
        display: inline-block;
    }
}