* {
    font-family: 'Montserrat', sans-serif;
}

p {
    padding: 10px 30px;
}

.container {
    margin: 40px auto 0;
    position: relative;
    width: 750px;
}

img {
    width: 400px;
}

img:hover {
    z-index: 2;
}

img:first-of-type {
   left: 170px;
   position: absolute;
   top: 92px;
   z-index: 1;
}

img:nth-of-type(2) {
    position: absolute;
}

img:nth-of-type(3) {
    left: 366px;
    position: absolute;
    top: -31px;
}

img:last-of-type {
    left: 224px;
    position: absolute;
    top: 340px;
    width: 300px;
}
