@font-face {
    font-family: 'Bebas-Regular';
    src: url('../fonts/Bebas-Regular.otf');
}

@font-face {
    font-family: 'STMarie-Thin';
    src: url('../fonts/StMarie-Thin.otf');
}

@font-face {
    font-family: 'Calibri-regular';
    src: url('../fonts/Calibri.ttf');
}

@font-face {
    font-family: 'Calibri-light-Italic';
    src: url('../fonts/calibrili.ttf');
}

@font-face {
    font-family: 'Calibri-Light';
    src: url('../fonts/calibril.ttf');
}

@font-face {
    font-family: 'Calibri-Italic';
    src: url('../fonts/Calibri\ Italic.ttf');
}

