@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?nboqjo');
  src:  url('../fonts/icomoon.eot?nboqjo#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?nboqjo') format('truetype'),
    url('../fonts/icomoon.woff?nboqjo') format('woff'),
    url('../fonts/icomoon.svg?nboqjo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-about-icon:before {
  content: "\e925";
}
.icon-blog-icon:before {
  content: "\e900";
}
.icon-contact-icon:before {
  content: "\e901";
}
.icon-home-icon:before {
  content: "\e902";
}
.icon-work-icon:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\ea96";
}
