.header {
    display: flex;
    height: 128px;
    justify-content: space-between;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.logo {
    padding-left: 248px;
    padding-top: 5px;
}

ul {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 570px;
}

nav {
    padding-left: 316px;
    /* padding-right: 100vmax; */
}

nav li {
    display: block;
    text-align: center;
}


.icon {
   color: rgb(110, 109, 107);
   display: block;
   font-size: 40px;
   margin: 4px auto 11px;
}

.icon-home-icon {
    font-size: 45px;
}

.icon-about-icon {
    font-size: 44px;
}

.icon-work-icon {
    font-size: 42px;
}

.icon-blog-icon {
    font-size: 40px;
}

.icon-contact-icon {
    font-size: 33px;
}

li:hover a {
    color: rgb(251, 156, 6);
}

li:hover .icon {
    color: rgb(251, 156, 6);
}



header {
    background-color: #fff;
    padding-right: 100vmax;
    position: fixed;
    /* padding-left: 100vmax; */
}

.header a {
    color: rgb(158, 155, 155);
    font-family: 'Calibri-regular';
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.01rem;
    padding-right: 3px;
    text-decoration: none;
}

.bg {
    padding-top: 128px;
}

.bg-img {
    background-image: url(../img/big-orange-bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    border-bottom: 4px solid rgb(251, 156, 6);
    border-top: 4px solid rgb(252, 186, 80);
    height: 400px;
    margin: 0px auto;
    width: 1600px;
}

.buttons {
    margin-left: 10px;
    margin-top: 129px;
    width: 397px;
}


.buttons button {
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.buttons button:first-child {
    background-color: rgb(0, 0, 0, 0.7);
    border: none;
    color: rgb(251, 156, 6);
    font-family: 'Bebas-Regular';
    font-size: 46px;
    font-weight: bold;
    height: 67px;
    line-height: 0.707;
    margin: 0 auto 27px;
    padding-left: 20px;
    text-align: center;
    text-transform: uppercase;
    width: 382px;
}

.buttons button:first-child:hover {
    background-color: rgb(0, 0, 0, 0.9);
}

.buttons button:last-child {
    background-color: rgb(255, 175, 18, 0.7);
    border: none;
    color: rgb(110, 109, 107);
    font-family: 'Bebas-Regular';
    font-size: 46px;
    font-weight: bold;
    height: 77px;
    letter-spacing: 0.001rem;
    line-height: 0.707;
    padding-bottom: 7px;
    padding-left: 20px;
    text-align: center;
    width: 397px;
}

.buttons button:last-child:hover {
    background-color: rgb(255, 175, 18, 0.9);
}

.about {
    border-bottom: 2px solid rgb(242, 242, 242);
    border-top: 1px solid rgb(246, 208, 148);
}

.about-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
    margin-top: 14px;
}

.about-item {
    letter-spacing: 0.02rem;
    padding-left: 19px;
    padding-right: 11px;
    text-align: left;
    width: 265px;
}

.about-item p {
    color: rgb(0, 0, 0);
    font-family: 'Calibri-regular';
    font-size: 15px;
    font-weight: bold;
    line-height: 1.544;
    /* padding-left: 15px; */
}

.team {
    margin-top: -2px;
}

.about-item a {
    color: rgb(255, 172, 0);
    display: block;
    font-family: 'Calibri-Italic';
    font-size: 17px;
    margin-top: -15px;
    text-align: right;
    text-decoration: none;
}

.team-container {
    margin: 0 auto;
    width: 1225px;  
}

.team h2, .form h2 {
    color: rgb(255, 156, 0);
    font-family: 'STMarie-Thin';
    font-size: 40px;
    font-weight: inherit;
    letter-spacing: 1px;
    line-height: 0.579;
    margin-bottom: 10px;
    text-align: center;
}

.team-title {
    border-bottom: 3px solid rgb(255, 156, 0);
    margin: 0 auto 16px;
    width: 285px;
}

.team-items {
    display: flex;
    justify-content: space-between;
}

.team-item {
    text-align: center;
    width: 325px;
}

.team-item h3 {
    color: rgb(110, 109, 107);
    font-family: 'Calibri-Light';
    font-size: 22px;
    line-height: 1.053;
}

.team-item span {
    color: rgb(251, 156, 6);
}

.team-item img {
    border-color: rgb(255, 181, 64);
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
    height: 295px;
    width: 295px;
}

.team-item p {
    color: rgb(51, 51, 51);
    font-family: 'Calibri-Light';
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.4px;
    line-height: 1.544;
    padding-left: 48px;
    padding-top: 10px;
    text-align: left;
    width: 260px;
}

.form-title {
    border-bottom: 3px solid rgb(255, 156, 0);
    margin-bottom: 16px;
    margin: 0 auto;
    width: 400px;
}

form {
    margin-bottom: 122px;
    margin-top: 66px;
}

.form-name, 
.form-email, 
.form-message {
    display: flex;

}

label {
    color: rgb(251, 156, 6);
    font-family: 'STMarie-Thin';   
    font-size: 24px;
    line-height: 1.4;
}

input {
    background-color: rgb(247, 246, 245);
    border-left: ;
    box-shadow: inset 5px 2px 0px 0px rgba(198, 197, 197, 0.75);
    height: 31px;
    margin-bottom: 37px;
    margin-left: auto;
    opacity: 0.922;
    width: 1056px;
       
}

input, textarea {
    border: none;
    display: block;
    margin-left: auto;
    padding-left: 15px;
}

textarea {
    background-color: rgb(247, 246, 245);
    box-shadow: inset 5px 2px 0px 0px rgba(198, 197, 197, 0.75);
    height: 86px;
    opacity: 0.922;
    resize: none;
    width: 1054px;
}

.submit {
    background-color: rgb(251, 156, 6);
    border-bottom: 4px solid rgb(204, 131, 15);
    border-left: none;
    border-right: none;
    border-top: none;
    color: rgb(255, 255, 255);
    float: right;
    font-family: 'STMarie-Thin';
    font-size: 30px;
    font-weight: unset;
    height: 48px;
    letter-spacing: 0.09rem;
    line-height: 0.772;
    margin-right: 33px;
    margin-top: 23px;
    width: 175px;
}

footer {
    background-color: rgb(251, 156, 6);
    clear: both;
    height: 71px;
    margin: 0 auto;
    width: 1600px;
}

footer h2 {
    border-bottom: 4px solid rgb(204, 131, 15);
    color: rgb(255, 255, 255);
    font-family: "StMarie";
    font-family: 'STMarie-Thin';
    font-size: 33px;
    font-weight: lighter;
    letter-spacing: .05rem;
    line-height: 71px;
    margin-bottom: 0;
    text-align: center;
}